<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
	{{ partial "head.html" . }}
	{{ template "_internal/google_analytics.html" . }}

	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

	</head>
	<body>
		<div class="container">	
				{{ partial "header.html" . }}
			<div class="main">
				<ul id="og-grid" class="og-grid">
					{{ range $page := sort (where .Site.RegularPages "Type" "photo") ".File.Dir" }}
					{{ range $index, $image := sort ($page.Resources.ByType "image") "Params.order" }}
					<li>
						<a href="{{ if isset $image.Params "button_url" }}{{ $image.Params.button_url }}{{ else }}#{{ end }}" data-largesrc="{{ $image.RelPermalink }}"
						data-title="{{ $image.Name }}"
						data-description="{{ $image.Params.description | markdownify }}"
						{{ if isset $image.Params "button_text" }}data-buttontext="{{ $image.Params.button_text }}"{{ end }} data-collection="{{ $page.Title }}">
							{{ $.Scratch.Set "thumbnail" ($image.Resize "x250") }}
							<img class="lazy" data-src="{{ ($.Scratch.Get "thumbnail").RelPermalink }}" style="width:{{ ($.Scratch.Get "thumbnail").Width }}px;" alt="Thumbnail of {{ $image.Name }}"/>
						</a>
					</li>
					{{ end }}
					{{ end }}
				</ul>
				{{ partial "footer.html" . }}
			</div>
		</div>
		{{ partial "scripts.html" . }}
	</body>
</html>
